select {
  padding: 10px;
  border: 1px solid black;
  background: transparent;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
}

option {
  padding: 10px;
  background: black;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
}

.option {
  border-bottom: solid red 2px;
}
